* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: $default-text-color;
  font-size: $font-size;
  //background-color: $default-color;
  background: hsl(226, 42%, 25%);
  background: linear-gradient(90deg, rgba(22, 30, 54, 1) 0%, rgba(37, 49, 90, 1) 50%, rgba(52, 71, 127, 1) 100%);
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

h1 {
  font-size: 1.9rem;
  font-weight: normal
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
}

p {
  line-height: 1.4em;
}
