.feature {
  //border-top: 4px solid $default-color;
  text-align: center;
  padding: 10px;
  //box-shadow: $default-box-shadow;
  transition: box-shadow $transition-duration;
  border-radius: $default-border-radius;
  height: 100%;
  position: relative;
  overflow: hidden;

  box-shadow: $default-box-shadow;

  &:hover {
    box-shadow: $default-box-shadow-hover;
  }
}

.feature__title {
  padding: 16px 16px;
  font-size: 1.25rem;
}

.feature__badge {
  position: absolute;
  right: -32px;
  background-color: #358639;
  color: #fff;
  font-size: 80%;
  transform: rotate(45deg);
  padding: 5px 30px;
  top: 15px;
}

.feature__body {
  padding: 16px 16px 4px 16px;
}

.feature-wrapper {
  &:not(:nth-child(3n+3)) {
    //border-right: 1px solid lightgrey;
  }

  &:nth-child(-n+3) {
    //border-bottom: 1px solid lightgrey;
  }
}

@media only screen and (max-width: $tablet) {
  .feature {
    margin: 0 !important;
  }
}

@media only screen and (min-width: $tablet) and (max-width: $desktop) {
  .feature {
    margin: 5px !important;
  }
}
