.container {
  width: 70%;
  margin: auto;
  max-width: 1344px;
}

@media only screen and (max-width: $tablet) {
  .container {
    width: 92% !important;
  }

  .reverse-columns-mobile {
    flex-direction: column-reverse;
    display: flex;
  }
}

@media only screen and (min-width: $tablet) and (max-width: $desktop) {
  .container {
    width: 90% !important;
  }
}
