ul.ul--default {
  padding-left: 20px;
}

ul.ul--default > li {
  position: relative;
  margin-bottom: 6px;
}

ul.ul--default > li:before {
  margin-left: -25px;
  width: 10px;
  font-size: 16px;
  position: absolute;
  top: -2px;
}
